header {
    position: relative;
    margin: 10px 150px;
    padding-left: 130px;
    padding-bottom: 14px;
}
nav {
    display: flex;
    position: relative;
    margin: 10px 150px;
    padding-left: 130px;
}
section {
    position: relative;
    margin: 10px 150px;
    padding-left: 130px;
    margin-right: 590px;
}
aside {
    position: relative;
    top: -135px;
    left: 790px;
    margin: 10px 150px;
    width: 380px;
}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#start_page {
    position: relative;
    color: gray;
    text-decoration: none;
    font-size: 12px;
}
#start_page:hover {
    color: #0099FF;
    text-decoration: underline;
}

#logo {
    position: absolute;
    top: 33px;
    left: 80px;
}
#logo img {
    width: 200px;
}

#search {
    position: relative;
    top:60px;
    left:30px;
    width: 480px;
    height: 40px;
    outline: none;
    border-color: #0099FF;
    border-width: 1px;
}

.fa-search {
    position: absolute;
    top: 75px;
    color: #0099FF;
}

.bottom_search {
    position: relative;
    top:50px;
    left:115px;
}
.bottom_search li {
   list-style: none;
   padding-left: 15px;
   display: inline;
}
.bottom_search li a {
    text-decoration: none;
    font-size: 12px;
    color: gray;
}
.bottom_search li a:hover {
    text-decoration: underline;
}

#slide {
    position: relative;
    top: 13px;
    left: 600px;
    user-select: none;
}
.prev, .next {
    cursor: pointer;
    color: silver;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#hr1 {
    position: relative;
    top: 15px;
    background-color: rgb(230, 230, 230);
    height: 0.07px;
    border: 0px;
}
#hr2 {
    position: relative;
    top: -33px;
    background-color: rgb(150, 150, 150);
    height: 0.07px;
    border: 0px;
}

#navibar {
    position: relative;
    padding-left: 51px;
    left: -57px;
    user-select: none;
}
#navibar li {
   list-style: none;
   display: inline-block;
   font-size: 12px;
   color: black;
   font-weight: bold;
}
#navibar li a {
    text-decoration: none;
    padding: 11px 5px;
}
#navibar li a:visited {
    color: black;
    text-decoration: none;
}
#navibar li a:hover {
    text-decoration: none;
}

#weather {
   display: flex;
   position: relative;
   top: 5px;
   left: 55px;
   font-weight: bold;
   font-size: 13px;
}

#place {
    position: relative;
    left: -20px;
}
#place li {
   list-style: none;
   text-decoration: none;
   color: black;
}


/*@@@@@@@@@@@*/
.navbar {
    position: absolute;
    overflow: hidden;
    max-height: 0;
    top: 50px;
    left: 125px;
    height: 250px;
    width: 640px;
}
.navbar.collapsed {
    max-height: 250px;
    border: 1px solid rgb(150, 150, 150);
}
.navbar-toggle {
    cursor: pointer;
}

.temp {
    position: absolute;
    overflow: hidden;
    max-height: 0;
    top: 32px;
    left: -118px;
    height: 160px;
    width: 280px;
}
.temp.collapsed {
    max-height: 250px;
    border: 1px solid rgb(150, 150, 150);
}
#temp-toggle {
    cursor: pointer;
    position: relative;
    top: -24px;
    left: -12px;
    width: 140px;
    height: 30px;
}

/* @@@@@@@@@@@@@@@@@ */

.navbar.hidden {
    font-size: 12px;
    z-index: 1;
    background-color: white;
}
.navbar.hidden table {
    border-collapse : collapse;
}
.navbar.hidden table td{
    width: 110px;
    border: 1px solid rgb(235, 235, 235);
}
.navbar.hidden ul {
    position: absolute;
    display: inline-block;
    padding: 0px 18px 0px 18px;
    margin-top: 10px;
    margin-left: -8px;
}
.navbar.hidden ul li {
    list-style: none;
    padding-bottom: 4px;
    
}
.navbar.hidden ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.navbar.hidden ul li a:visited {
    text-decoration: none;
}
.navbar.hidden ul li a:hover {
    text-decoration: none;
}

.nb_exit.a {
    position: absolute;
    left: 15px;
    bottom: 10px;
}
.nb_exit.b {
    position: absolute;
    right: 15px;
    bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}
.nb_exit.b:hover {
    text-decoration: none;
}
.nb_exit {
    text-decoration: none;
}
.nb_exit:visited {
    text-decoration: none;
    color: rgb(100, 100, 100);
}
.nb_exit:hover {
    text-decoration: underline;
}

/* @@@@@@@@@@@@@@@@2 */

.temp.hidden {
    z-index: 1;
    background-color: white;
    width: 265px;
}
#current {
    padding-left: 20px;
}
#X {
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
#wt_icon {
    position: relative;
    left: 30px;
    font-size: 60px;
    color: rgb(153, 153, 153);
}
#wt_tem {
    position: absolute;
    top: 13px;
    left: 148px;
    font-size: 30px;
}
#yester {
    position: relative;
    top: -30px;
    left: 125px;
}
#air {
    display: flex;
    position: absolute;
    bottom: 5px;
    padding-left: 14px;
}
#air p{
    margin-left: 10px;
}

/* @@@@@@@@@@@@@@@@@@@@@@ */

#section01 {
    display: flex;
}

.adver {
    position: relative;
    top: -25px;
    width: 630px;
    height: 120px;
}
.adver img {
    width: 630px;
    height: 120px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@ */
#log {
    position: relative;
    top: -21px;
    left: 16px;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
    border: 1px solid rgb(235, 235, 235);
    width: 260px;
    height: 120px;
}
.login {
    position: relative;
    top: 12px;
    left: 13px;
    width: 230px;
    height: 25px;
    margin-bottom: 5px;
    font-size: 12px;
    color: black;
    display: block;
    text-align: center;
    padding-top: 9px;
}
.login.daum {
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    text-decoration: none;
}
.login.kakao {
    background-color: rgb(255, 238, 0);
    border: 1px solid rgb(235, 235, 235);
    text-decoration: none;
}
#signup {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-weight: bold;
    color: black;
    font-size: 10px;
    text-decoration: none;
}
#signup:visited {
    text-decoration: none;
}
#signup:hover {
    text-decoration: underline;
}

#side_ad {
    border: 1px solid rgb(235, 235, 235);
    position: relative;
    left: 16px;
    width: 260px;
    height: 150px;
}
#side_ad img {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 100px;
    height: 120px;
}
#side_ad p {
    position: relative;
    top: 14px;
    left: 133px;
}
#itm {
    z-index: 1;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 230px;
    height: 120px;
}
#item_t {
    font-size: 12px;
}
#item_o {
    margin-top: -5px;
    font-size: 10px;
    text-decoration:line-through
}
#item_h {
    margin-top: -9px;
    font-size: 13px;
}
#item_j {
    margin-top: -5px;
    font-size: 11px;
}